{% extends "base.html" %}
{% block content %}

    <!--This is the form at the /addnewpost route-->
    <h1>Add a Blog Entry</h1>
    <form method='post' action = '/addnewpost'>
        <label for="title_field">Title for Your Blog</label>
        <input id="title_field" type="text" name='title' />
        <br></br>
        <label for="blog_entry">Your new blog text:</label>
        <textarea id ="blog_entry" name='blog_entry'></textarea>
        <br>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}


