{% extends "base.html" %}

{% block content %}

<!--Make an unordered list for each of my blog posts
for blog entry in the datastructure,make a list item.  Use jinja notation - templating code to take datacode and iterate through it and
generate html from the datastructure -->

<!--if there is both a title and blog_entry then creates an unordered list of blogs-->

    <ul> {% for blog in display_blogs %}
        <li>
            <h1>{{blog.title}}</h1>
            <p>{{blog.blog_entry}}</p>
        </li>

        {% endfor %}
    </ul>


{% endblock %}

