{% extends "base.html" %}

{% block content %}

<!--Make an unordered list for each of the usernames
Use jinja notation - templating code to take datacode and iterate through it and
generate html from the datastructure -->

<!--This is the home page ('/' route)-->

<!--if there is both a title and blog_entry then creates an unordered list of blogs-->


    <ul> {% for user in users %}
    
        <h1>
            <a href="/blog?user={{user.id}}">{{user.username}}</a>
        </h1>

        {% endfor %}
    </ul>


{% endblock %}
